*/target/**/
*/target/*
*/bin/**/
*/bin/*
.metadata/*
.metadata/**/*
*/.settings/*
*/.settings/**/*
*/.externalToolBuilders/*
*/.externalToolBuilders/**/*
*/.classpath
*/.project
.project
.settings/*
.settings/**/*
*~
algorithms/*
algorithms/**/*


